<h1>Create an account!</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit %><br>
<% end %>
<br>
<h4><%= link_to("Already have a login? Click here.", login_path) %></h4>