<h1>Name: <%=@user.name%></h1><br>
<br>
<p>Username: <%=h @user.username %></p>
<p><%= link_to "Find Friends", users_path %></p>

<h3>Your Friends</h3>
<ul>
  <% for user in @user.friends %>
  <li><%= h user.username %></li>
  <% end %>  
</ul>

<h3>Your Friends</h3>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= h friendship.friend.username %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>  
</ul>


<%= link_to("All Users", users_path) %>
