<h1>Make a new Reservation</h1>
<br>
<%= form_for(@reservation) do |f| %>
<%= f.label "Time" %><br>
<%= f.datetime_select :time %><br>
<%= f.label "Name" %><br>
<%= f.text_field :name %><br>
<%= f.label "Restaurant" %><br>
<%= f.collection_select(:restaurant_id, Restaurant.all, :id, :name)%><br>
<%= f.label "Review" %><br>
<%= f.text_area :review %><br>
<%= f.submit %>

<% end %>



