<h1>Make a new Reservation</h1>

<%= form_for(@reservation) do |f| %>
<%= f.label "Time" %>
<%= f.text_field :time %>
<%= f.label "Name" %>
<%= f.text_field :name %>
<%= f.label "Restaurant" %>
<%= f.text_field :restaurant %>
<%= f.label "Review" %>
<%= f.text_field :review %>

<% end %>






t.datetime :time
      t.text :review
      t.references :user
      t.references :restaurant